.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
_targets/
Death_is_not_an_escape_files/
Death_is_not_an_escape.html
Dockerized-Dead-By-Daylight.Rproj
renv/
Rplots.pdf
combined_plot.png
heatmap.png
likert_plot.png